@{
    ViewBag.Title = "Home Page";
}

<form action="/Pessoa/Create" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" name="nome" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrar com o nome">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">CPF</label>
        <input type="text" name="cpf" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrar com o nome">

    </div>
    
    <div class="form-check">
        <label for="exampleInputEmail1">Renda</label>
        <input type="text" name="renda" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrar com o nome">

    </div>

    <button type="submit" class="btn btn-light"> CADASTRAR </button>
    <a href="/Pessoa/Create" class="btn btn-light"> CADASTRAR </a>
    <a href="/Pessoa/Index" class="btn btn-light"> VOLTAR </a>
</form>